<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Add an item to the shopping list:</h1>
    <form method="POST" action="add">
        <div>
            <p>
                <label for="id_name">Name: </label>
                <input type="text" name="id_name" id="item_name">
            </p>
        </div>
        <div>
            <p>
                <label for="id_bought">Bought: </label>
                <input type="checkbox" name="id_bought" id="bought">
            </p>
        </div>
        <div>
            <p>
                <label for="id_bought">Bought: </label>
                <input type="checkbox" name="id_bought" id="bought">
            </p>
        </div>
        <div>
            <p>
                <button type="submit">Add item to list</button>
            </p>
        </div>
    </form>
</body>

</html>